$purple: #673ab8;
body {
	margin: 0;
}
.App {
	text-align: center;
	&-logo {
		height: 80px;
		path {
			animation: App-logo-spin 1s linear;
			fill: #fff;
		}
		ellipse {
			stroke: $purple;
		}
		circle {
			fill: $purple;
		}
		text {
			fill: #fff;
		}
	}
	&-header {
		background-color: $purple;
		height: 150px;
		padding: 20px;
		color: white;
	}
	&-intro {
		font-size: large;
	}
}
code {
	color: darken($purple, 3%);
}
@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
